{% extends 'base.html' %}
{% load static %}
{% block title %}
    Nuevo restaurante
{% endblock title %}
{% block custom_css %}
    <link href="{% static 'calculadora/css/style.css' %}" rel="stylesheet" type="text/css">  
{% endblock custom_css %}
{% block content %}
    {% load bootstrap %}
    <!-- Cabecera de página -->
    <div class="container-fluid">
        {% block title_page %}
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        Nuevo estaurante
                    </h1>
                    <ol class="breadcrumb">
                        <li>
                            <i class="fa fa-home"></i>
                            <a href="{% url 'calculadora:home' %}">Inicio</a>
                        </li>
                        <li>
                            <i class="fa fa-utensils"></i>
                            <a href="{% url 'calculadora:restaurantes' %}">Restaurantes</a>
                        </li>
                        <li class="active">
                            <i class="fa fa-plus-circle"></i>
                            Nuevo Restaurante
                        </li>
                    </ol>
                </div>
            </div>
        {% endblock title_page %}
        {% block messages %}
            <div class="row">
                <div class="col-lg-12 messages">
                    {% include 'messages.html' %}
                </div>
            </div>
        {% endblock messages %}
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <i class="fa fa-utensils fw"></i>
                            Resturante
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <form method="post" id="datos_form">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                {% csrf_token %}
                                                <div class="row">
                                                    <label class="control-label col-sm-2 col-lg-2 " for="">Ubicacion</label>
                                                    <div class="col-sm-10 col-lg-10 ">
                                                        <div class="row">
                                                            <div class="col-sm-12 col-lg-12">
                                                                <div class="input-group">
                                                                    {{form.ciudad}}
                                                                    <span class="input-group-addon">
                                                                        <i class="glyphicon glyphicon-search"></i>
                                                                    </span>
                                                                    {{form.localidad}}
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <p class="help-block">
                                                            Filtre la ubicacion de su restaurante
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <label class="control-label col-sm-2 col-lg-2 ">
                                                        {{ form.nombre.label }}
                                                    </label>
                                                    <div class="col-sm-10 col-lg-10">
                                                        {{ form.nombre }}
                                                        <p class="help-block">
                                                            {{ form.nombre.help_text }}
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <label for="" class="control-label col-sm-2 col-lg-2">{{ form.telefono.label }}</label>
                                                    <div class="col-sm-10 col-lg-10">
                                                        {{ form.telefono }}
                                                        <p class="help-block">{{ form.telefono.help_text }}</p>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <label for="" class="control-label col-sm-2 col-lg-2">{{ form.direccion.label }}</label>
                                                    <div class="col-sm-10 col-lg-10">
                                                        {{ form.direccion }}
                                                        <p class="help-block">{{ form.direccion.help_text }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="carta_formset">
                                        {% include 'calculadora/restaurante_carta_add.html' %}
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h3 class="panel-title">
                                                        <i class="fa fa-map-marked-alt fw"></i>
                                                        <a role="button" data-toggle="collapse" href="#mapa-row" aria-expanded="false" aria-controls="mapa-row" title="Añade un mapa a este restaurante">
                                                            Mapa
                                                        </a>
                                                    </h3>
                                                </div>
                                                <div id="mapa-row" class="panel-body collapse">
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <div class="form-group">
                                                                {% csrf_token %}
                                                                <label for="" class="control-label col-sm-2 col-lg-2">{{ form.mapa.label }}</label>
                                                                <div class="col-sm-10 col-lg-10">
                                                                    {{ form.mapa }}
                                                                    <p class="help-block">{{ form.mapa.help_text }}</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <div class="embed-responsive embed-responsive-4by3" id="iframe">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="datos_buttons" class="text-center">
                                        <button class="btn btn-success" type="submit">Enviar</button>
                                        <button class="btn btn-danger" type="submit">Cancelar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block sb_admin_custom_js %}
    <script src="{% static 'calculadora/js/myJs.js' %}"></script>
    <script>
        $(document).ready(function(){
            $("#id_mapa").attr("onkeyup", "reloadIframe(\"id_mapa\")");
        });
    </script>
{% endblock sb_admin_custom_js %}