{% extends 'base.html' %}
{% load static %}
{% block title %}
    {{ ciudad }} - Restaurantes
{% endblock title %}
{% block custom_css %}
    <link href="{% static 'calculadora/css/style.css' %}" rel="stylesheet" type="text/css">
{% endblock custom_css %}
{% block content %}
    <div class="align-items-center p-3 bg-blue shadow-lg">
        <div class="d-flex justify-content-center">
            <h2 class="text-gray">
                {{ ciudad|upper }}
            </h2>
        </div>
        <div class="d-flex justify-content-between">
            <!-- <div class="input-group">
                <input type="text" class="form-control" id="restaurante_filtro" placeholder="Buscar por..." onkeyup='filterTable("restaurante_filtro","restaurantes")'>
                <span class="input-group-addon">
                    <i class="fa fa-sliders-h fw fa-1-4x"></i>
                </span>
            </div> -->
            <a href="{% url 'calculadora:nuevo-restaurante' %}" class="mr-4 btn btn-primary float-right">Añadir restaurante</a>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="accordion" id="accordion-block">
                {% if restaurantes %}
                    {{group}}
                    {% for key, item in group.items %}
                        {% for comida in item.comidas %}
                            <div class="panel panel-default carta">
                                <div class="panel-heading collapsed" id="header{{ forloop.parentloop.counter }}" type="button" data-toggle="collapse" data-target="#collapse{{ forloop.parentloop.counter }}">
                                    <h2 class="mb-0 panel-title">
                                        <div class="row">
                                            <div class="col-xs-2 col-sm-1 col-md-1 col-lg-1">
                                                <span class="pull-left glyphicon glyphicon-menu-down" aria-hidden="true"></span>        
                                            </div>
                                            <div class="col-xs-10 col-sm-11 col-md-11 col-lg-11 text-break">
                                                <strong>
                                                    {{ comida }}
                                                </strong>
                                            </div>
                                        </div>
                                    </h2>
                                </div>
                                <div class="collapse" id="collapse{{ forloop.parentloop.counter }}" aria-labelledby="header{{ forloop.parentloop.counter }}" data-parent="#accordion-block">
                                    <div class="">
                                        {% for restaurante in item.restaurantes %}
                                            <div class="image image-fluid" style="background-image: url('{{ restaurante.background.url }}')" onclick="redirect('{% url 'calculadora:ciudades-restaurante-carta' restaurante.ciudad.pk restaurante.pk %}')">
                                                <div class="d-block over fondo-izquierda">
                                                    <div class="text-left over-text">
                                                        <h1>{{ restaurante|upper }}</h1>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}
{% block sb_admin_custom_js %}
    <script src="{% static 'calculadora/js/myJs.js' %}"></script>
    <script>
        $(document).ready(function(){
            // Add angle-up icon for collapse element which is open by default
            $(".collapse.show").each(function(){
                $(this).prev(".panel-heading").find(".glyphicon").addClass("glyphicon-menu-up").removeClass("glyphicon-menu-down");
            });
            
            // Toggle angle-down angle-up icon on show hide of collapse element
            $(".collapse").on('show.bs.collapse', function(){
                $(this).prev(".panel-heading").find(".glyphicon").removeClass("glyphicon-menu-down").addClass("glyphicon-menu-up");
            }).on('hide.bs.collapse', function(){
                $(this).prev(".panel-heading").find(".glyphicon").removeClass("glyphicon-menu-up").addClass("glyphicon-menu-down");
            });
        });
    </script>
{% endblock sb_admin_custom_js %}