{% extends 'base.html' %}
{% load static %}
{% block title %}
    {{ ciudad }} - Restaurantes
{% endblock title %}
{% block custom_css %}
    <link href="{% static 'calculadora/css/style.css' %}" rel="stylesheet" type="text/css">
{% endblock custom_css %}
{% block content %}
    <div class="align-items-center p-3 bg-blue shadow-lg">
        <div class="d-flex justify-content-center">
            <h2 class="text-gray">
                {{ ciudad|upper }}
            </h2>
        </div>
        <div class="d-flex justify-content-between">
            <div class="input-group">
                <input type="text" class="form-control" id="restaurante_filtro" placeholder="Buscar por..." onkeyup='filterTable("restaurante_filtro","restaurantes")'>
                <span class="input-group-addon">
                    <i class="fa fa-sliders-h fw fa-1-4x"></i>
                </span>
            </div>
            <button class="mr-4 btn btn-primary float-right">Añadir restaurante</button>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="accordion" id="accordion-block">
                {% if restaurantes %}
                {{tipos_comida}}
                    {% regroup restaurantes by tipo_comida as tipo_comida_list %}
                    {% for tipo_comida in tipo_comida_list %}
                        <div class="panel panel-default carta">
                            <div class="panel-heading collapsed" id="header{{ forloop.counter }}" type="button" data-toggle="collapse" data-target="#collapse{{ forloop.counter }}">
                                <h2 class="mb-0 panel-title">
                                    <div class="row">
                                        <div class="col-xs-2 col-sm-1 col-md-1 col-lg-1">
                                            <span class="pull-left glyphicon glyphicon-menu-down" aria-hidden="true"></span>        
                                        </div>
                                        <div class="col-xs-10 col-sm-11 col-md-11 col-lg-11 text-break">
                                            <strong>
                                                {{ tipo_comida }}
                                            </strong>
                                        </div>
                                    </div>
                                </h2>
                            </div>
                            <div class="collapse" id="collapse{{ forloop.counter }}" aria-labelledby="header{{ forloop.counter }}" data-parent="#accordion-block">
                                <div class="">
                                    {% for restaurante in tipo_comida.list %}
                                        <div class="image image-fluid" style="background-image: url('{{ restaurante.background.url }}')" onclick="redirect('')">
                                            <div class="d-block over fondo-izquierda">
                                                <div class="text-left over-text">
                                                    <h1>{{ restaurante|upper }}</h1>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}
