{% extends 'base.html' %}
{% load static %}
{% block title %}
    Detalle Restaurante: {{ restaurante }}
{% endblock title %}
{% block custom_css %}
    <link href="{% static 'calculadora/css/style.css' %}" rel="stylesheet" type="text/css">  
{% endblock custom_css %}
{% block messages %}
    {% for error in errors %}
      <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <i class="fa fa-exclamation-triangle"></i>  {{ error }}
      </div>
    {% endfor %}
{% endblock messages %}
{% block content %}
  {% load bootstrap %}
  <!-- Cabecera de página -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">
          Restaurante: {{ restaurante }}
        </h1>
        <ol class="breadcrumb">
          <li>
            <i class="fa fa-home"></i>
            <a href="{% url 'calculadora:home' %}">Inicio</a>
          </li>
          <li>
            <i class="fa fa-utensils"></i>
            <a href="{% url 'calculadora:restaurantes' %}">Restaurantes</a>
          </li>
          <li class="active">
            <i class="fa fa-eye"></i>
            Detalle Restaurante: {{ restaurante }}
          </li>
        </ol>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <i class="fa fa-utensils fw">
                        Resturante
                    </i>
                </h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    <i class="fa fa-database fw">
                                        Datos
                                    </i>
                                    <a href="" onclick="enabledInputs('datos_form', 'datos_buttons')">
                                        <i class="pull-right fa fa-edit fw"></i>
                                    </a>
                                </h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <form method="post" id="datos_form">
                                            <div class="form-group">
                                                {% csrf_token %}
                                                {{ restaurante_form.nombre|bootstrap_horizontal }}
                                                {{ restaurante_form.telefono|bootstrap_horizontal }}
                                                {{ restaurante_form.direccion|bootstrap_horizontal }}
                                                <div id="datos_buttons" class="text-center" hidden>
                                                    <button class="btn btn-primary" type="submit">Enviar</button>
                                                    <button class="btn btn-secondary" type="submit">Cancelar</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h3 class="panel-title">
                                                    <i class="fa fa-hotdog fw">
                                                        Productos
                                                    </i>
                                                    <a href="">
                                                        <i class="pull-right fa fa-edit fw"></i>
                                                    </a>
                                                </h3>
                                            </div>
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <form method="post" id="productos_form">
                                                            <div class="form-group">
                                                                {% csrf_token %}
                                                                {{ carta_form|bootstrap_horizontal }}
                                                                <div id="datos_buttons" class="text-center" hidden>
                                                                    <button class="btn btn-primary" type="submit">Enviar</button>
                                                                    <button class="btn btn-secondary" type="submit">Cancelar</button>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    <i class="fa fa-map-marked-alt fw">
                                        Mapa
                                    </i>
                                    <a href="#" onclick="enabledInputs('mapa_form', 'mapa_buttons')">
                                        <i class="pull-right fa fa-edit fw"></i>
                                    </a>
                                </h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <form method="post" id="mapa_form">
                                            <div class="form-group">
                                                {% csrf_token %}
                                                {{ restaurante_form.mapa|bootstrap_horizontal }}
                                                <div id="mapa_buttons" class="text-center" hidden>
                                                    <button class="btn btn-primary" type="submit">Enviar</button>
                                                    <button class="btn btn-secondary" type="submit">Cancelar</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="embed-responsive embed-responsive-4by3" id="iframe">
                                            {% if restaurante.mapa %}
                                                {{ restaurante.mapa|safe }}
                                            {% else %}
                                                <div class="alert alert-danger alert-dismissable">
                                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                                    <i class="fa fa-sad-cry"></i>
                                                    Lo sentimos, aún no hay un mapa disponible para este restaurante
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block sb_admin_custom_js %}
    <script src="{% static 'calculadora/js/myJs.js' %}"></script>
    <script>
        $(document).ready(function(){
            $("input").prop("disabled", true);
            $("#id_mapa").attr("onkeyup", "reloadIframe(\"id_mapa\")");
        });
    </script>
{% endblock sb_admin_custom_js %}