{% extends 'base.html' %}
{% load static %}
{% block title %}
    Nuevo Restaurante
{% endblock title %}
{% block custom_css %}
    <link href="{% static 'calculadora/css/style.css' %}" rel="stylesheet" type="text/css">  
{% endblock custom_css %}
{% block messages %}
    {% for error in errors %}
      <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <i class="fa fa-exclamation-triangle"></i>  {{ error }}
      </div>
    {% endfor %}
{% endblock messages %}
{% block content %}
  {% load bootstrap %}
  <!-- Cabecera de página -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">
          Agregar Restaurante
        </h1>
        <ol class="breadcrumb">
          <li>
            <i class="fa fa-home"></i>
            <a href="{% url 'calculadora:home' %}">Inicio</a>
          </li>
          <li>
            <i class="fa fa-utensils"></i>
            <a href="{% url 'calculadora:restaurantes' %}">Restaurantes</a>
          </li>
          <li class="active">
            <i class="fa fa-plus-circle"></i>
            Nuevo Restaurante
          </li>
        </ol>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <form method="post">
          <div class="form-group">
            {% csrf_token %}
            {% load bootstrap %}
            {{ form|bootstrap_horizontal }}
            {{ carta_formset.management_form }}
            {{ carta_formset.non_form_errors }}
            <ul class="nav nav-tabs">
              <li class="empty-form">
                <a href="#{{ carta_formset.empty_form.prefix }}" data-toggle="tab">
                  Nueva Carta
                </a>
              </li>
              {% for carta_form in carta_formset %}
                <li class="{% if forloop.first %}active{% endif %}">
                  <a href="#{{ carta_form.prefix }}" data-toggle="tab">
                    Carta #{{ forloop.counter }}
                  </a>
                </li>
              {% endfor %}
            </ul>
            <div class="tab-content form-inline">
              <div class="tab-pane empty-form" id="{{ carta_formset.empty_form.prefix }}">
                <div class="panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">
                      <i class="fa fa-puzzle-piece fw"></i>
                      Sección
                    </h3>
                  </div>
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-lg-12">
                        {{ carta_formset.empty_form|bootstrap_horizontal }}
                      </div>
                    </div>
                    <div id="{{ carta_formset.empty_form.prefix }}" class="row">
                      <div class="col-lg-12">
                        <legend>
                          Productos de la sección
                        </legend>
                        <div class="row">
                          {{ carta_formset.empty_form.nested.management_form }}
                          <div class="row empty-form">
                            <div class="col-lg-12">
                              <div class="form-group">
                                <label for="" class="control-lable col-sm-2 col-lg-12">Producto</label>
                                <div class="col-sm-10 col-lg-10">
                                  <div class="input-group mb-3">
                                    <div>
                                      {{ carta_formset.empty_form.nested.empty_form.nombre }}
                                    </div>
                                    <div class="input-group-addon">
                                      /
                                    </div>
                                    <div>
                                      {{ carta_formset.empty_form.nested.empty_form.precio_fijo }}
                                    </div>
                                    <div class="input-group-addon">
                                      <span type="button" data-action="add-inner-form">
                                        <i class="fa fa-plus fw"></i>
                                      </span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          {% for producto_form in carta_formset.empty_form.nested %}
                            <div class="row">
                              <div class="col-lg-12">
                                <div class="form-group">
                                  <label class="control-label col-sm-2 col-lg-2 ">Producto</label>
                                  <div class="col-sm-10 col-lg-10">
                                    <div class="input-group mb-3">
                                      <div>
                                        {{ producto_form.nombre }}
                                      </div>
                                      <div class="input-group-addon">
                                        /
                                      </div>
                                      <div>
                                        {{ producto_form.precio_fijo }}
                                      </div>
                                      {% if forloop.last %}
                                        <div class="input-group-addon">
                                          <span type="button" data-action="add-inner-form">
                                            <i class="fa fa-plus fw"></i>
                                          </span>
                                        </div>
                                      {% else %}
                                        <div class="input-group-addon">
                                          <span type="button" data-action="remove-inner-form">
                                            <i class="fa fa-trash-alt fw"></i>
                                          </span>
                                        </div>
                                      {% endif %}
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          {% endfor %}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {% for carta_form in carta_formset %}
                <div class="tab-pane {% if forloop.first %}active{% endif %}" id="{{ carta_form.prefix }}">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h3 class="panel-title">
                        <i class="fa fa-puzzle-piece fw"></i>
                          Sección
                      </h3>
                    </div>
                    <div class="panel-body">
                      <div class="row">
                        <div class="col-lg-12">
                          {{ carta_form|bootstrap_horizontal }}
                        </div>
                      </div>
                      <div id="{{ carta_form.prefix }}" class="row">
                        <div class="col-lg-12">
                          <legend>
                            Productos de la sección
                          </legend>
                          <div class="row">
                            {{ carta_form.nested.management_form }}
                            {{ carta_form.nested.non_form_errors }}
                            <div class="row empty-form">
                              <div class="col-lg-12">
                                <div class="form-group">
                                  <label for="" class="control-lable col-sm-2 col-lg-12">Producto</label>
                                  <div class="col-sm-10 col-lg-10">
                                    <div class="input-group mb-3">
                                      <div>
                                        {{ carta_form.nested.empty_form.nombre }}
                                      </div>
                                      <div class="input-group-addon">
                                        /
                                      </div>
                                      <div>
                                        {{ carta_form.nested.empty_form.precio_fijo }}
                                      </div>
                                      <div class="input-group-addon">
                                        <span type="button" data-action="add-inner-form">
                                          <i class="fa fa-plus fw"></i>
                                        </span>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            {% for producto_form in carta_form.nested %}
                              <div class="row">
                                <div class="col-lg-12">
                                  <div class="form-group">
                                    <label class="control-label col-sm-2 col-lg-2 ">Producto</label>
                                    <div class="col-sm-10 col-lg-10">
                                      <div class="input-group mb-3">
                                        <div>
                                          {{ producto_form.nombre }}
                                        </div>
                                        <div class="input-group-addon">
                                          /
                                        </div>
                                        <div>
                                          {{ producto_form.precio_fijo }}
                                        </div>
                                        {% if forloop.last %}
                                          <div class="input-group-addon">
                                            <span type="button" data-action="add-inner-form">
                                              <i class="fa fa-plus fw"></i>
                                            </span>
                                          </div>
                                        {% else %}
                                          <div class="input-group-addon">
                                            <span type="button" data-action="remove-inner-form">
                                              <i class="fa fa-trash-alt fw"></i>
                                            </span>
                                          </div>
                                        {% endif %}
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            {% endfor %}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              {% endfor %}
              <div class="actions">
                <button type="button" class="btn btn-primary" data-action="add-outer-form">
                  Añadir Carta
                </button>
              </div>
            </div>
            <div class="text-center">
              <button class="btn btn-primary" type="submit">Enviar</button>
              <button class="btn btn-secondary" type="submit">Cancelar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}

{% block sb_admin_custom_js %}
    <script src="{% static 'calculadora/js/myJs.js' %}"></script>
    <script src="{% static 'calculadora/js/django-formset.js' %}"></script>
    <script>
      $(function(){
        $().formset({
          prefix: '{{ carta_formset.prefix }}',
          formCssClass: 'carta-formset-row',
          addText: 'Añadir carta'
        });
        $().formset({
          prefix: '{{ carta_formset.prefix }}',
          formCssClass: 'carta-formset-row',
          addText: 'Añadir carta'
        });
      })
      // var cartaFormset = $('form > div.tab-content > div.tab-pane').not('.actions')
      // .djangoFormset({
      //   on: {
      //     formInitialized: function(event, form) {
      //       var productoFormsetElement = form.elem.children('div').first();
      //       var productoFormset = productoFormsetElement.children('div').djangoFormset();
      //       productoFormsetElement.on('click', '[data-action=add-inner-form]', function(event){
      //         productoFormset.addForm();
      //       });
      //     },
      //     formAdded: function(event, form){
      //       form.tab.elem.find('a').text("Carta #"+(form.index+1));
      //     }
      //   }
      // });
      // $('form').on('click', '[data-action=add-outer-form]', function(event) {
      //   cartaFormset.addForm();
      // });
      // $('form').on('change', 'input:not([name*="__prefix__"]):first', function() {
      //   var tabLabel = "First input value is " + $(this).val();
      //   form = $(this).closest('.tab-pane').data('djangoFormset.Form')
      //   form.tab.elem.find('a').text(tabLabel);
      // });
    </script>
{% endblock sb_admin_custom_js %}