<div class="row" id="carta-management-form">
    {{ carta_formset.management_form }}
</div>
{% load bootstrap %}
{% for carta_form in carta_formset %}
    <div id="{{ carta_form.prefix }}-row" class="row {{ carta_formset.prefix }}">
        <div class="col-lg-12">
            <fieldset>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <i class="fa fa-puzzle-piece fw"></i>
                            Sección
                            <a class="pull-right" role="button" data-toggle="collapse" href="#{{ carta_form.prefix }}" aria-expanded="false" aria-controls="{{ carta_form.prefix }}" title="Añade productos a esta sección">
                                Productos <i class="fa fa-plus fw"></i>
                            </a>
                            {% if forloop.last %}
                                <!--
                                    <span id="add-{{ carta_form.prefix }}-btn" type="button"  class="pull-right" onclick="cloneMore('{{ carta_form.prefix }}', '{{ carta_formset.prefix }}', false)">
                                        <i class="fa fa-plus fw"></i>
                                    </span>
                                -->
                            {% else %}
                                <!--
                                    <span id="remove-{{ carta_form.prefix }}-btn" type="button"  class="pull-right" onclick="deleteForm('{{ carta_form.prefix }}', '{{ carta_formset.prefix }}')">
                                        <i class="fa fa-trash-alt fw"></i>
                                    </span>
                                -->
                            {% endif %}
                        </h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            {{ carta_form|bootstrap_horizontal }}
                        </div>
                    </div>
                    <div id="{{ carta_form.prefix }}" class="row collapse">
                        <div class="col-lg-12">
                            <legend>
                                Productos de la sección
                            </legend>
                            {% include 'calculadora/restaurante_producto_add.html' %}                                            
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
{% endfor %}