{% extends 'base.html' %}
{% load static %}
{% block title %}
    Iniciar Sesión
{% endblock title %}
{% block custom_css %}
    <link href="{% static 'calculadora/css/style.css' %}" rel="stylesheet" type="text/css">
{% endblock custom_css %}
{% block content %}
    {% load bootstrap %}
    <div id="page-wrapper">
        <div class="container-fluid">
            {% block page-header %}
                <div class="row">
                    <!--Cabecera de página-->
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            {% block title_body %}
                                Inicio de Sesión
                            {% endblock title_body %}
                        </h1>
                        {% block breadcrumb %}
                            <ol class="breadcrumb">
                                <li>
                                    <i class="fa fa-home"></i>
                                    <a href="{% url 'calculadora:home' %}">
                                        Inicio
                                    </a>
                                </li>
                                <li class="active">
                                    {% block breadcrumb_active %}
                                        Iniciar Sesión
                                    {% endblock breadcrumb_active %}
                                </li>
                            </ol>
                        {% endblock breadcrumb %}
                    </div>
                </div>
            {% endblock page-header %}
            {% block form %}
                <div class="container-fluid">
                    <div class="row d-flex justify-content-center">
                        <div class="d-flex col-lg-4 col-md-6 col-sm-8 col-xs-10">
                            <div class="card card-signin my-5">
                                <div class="card-body">
                                    <div class="card-title text-center">
                                        <img style="max-width:200px; margin-top: -15px;" src="{% static 'calculadora/images/LogoCTM.png' %}">
                                    </div>
                                    <form method="post" class="form-signin">
                                        <div class="form-group">
                                            {% csrf_token %}
                                            {{ form|bootstrap_horizontal:'col-xl-4' }}
                                            <div class="text-center">
                                                <button class="btn btn-primary btn-inline" type="submit">Iniciar Sesión</button>
                                                <button class="btn btn-secondary btn-inline" onclick="window.history.back();">Cancelar</button>
                                            </div>
                                        </div>
                                    </form>
                                    <div class="text-center">
                                        <a class="d-block small mt-3" href="{% url 'calculadora:signup' %}">Registrarse</a>
                                        <a class="d-block small" href="#">¿Olvidaste tu contraseña?</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endblock form %}
        </div>
    </div>
{% endblock content %}