{% extends 'base.html' %}
{% load static %}
{% block title %}
    Contáctanos
{% endblock title %}
{% block custom_css %}
    <link href="{% static 'calculadora/css/style.css' %}" rel="stylesheet" type="text/css">
{% endblock custom_css %}
{% block content %}
  {% load bootstrap %}
  <!-- Cabecera de página -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">
          Contáctanos
        </h1>
        <ol class="breadcrumb">
          <li>
            <i class="fa fa-home"></i>
            <a href="{% url 'calculadora:home' %}">Inicio</a>
          </li>
          <li class="active">
            <i class="fa fa-envelope"></i>
            Contáctanos
          </li>
        </ol>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <form method="post">
          <div class="form-group">
            {% csrf_token %}
            {{ contacto_form|bootstrap_horizontal }}
            {{ consulta_form|bootstrap_horizontal }}
            <div class="text-center">
              <button class="btn btn-primary" type="submit">Enviar</button>
              <button class="btn btn-secondary" type="submit">Cancelar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}