{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    {% block head %}
        {% block meta %}
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta name="description" content="{% block description %}{% endblock description %}">
            <meta name="author" content="{% block author %}{% endblock author %}">
        {% endblock meta %}
        <title>
            {% block title %}{% endblock title %} - Calcula Tu Menú
        </title>
        {% block icon %}
                <link rel="shortcut icon" type="image/x-icon" href="{% static 'calculadora/images/favicon.png' %}">
        {% endblock icon %}

        <!-- Bootstrap Core CSS -->
        {% block bootstrap_css %}
            <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        {% endblock bootstrap_css %}

        <!-- Custom CSS -->
        {% block admin_css %}
            <link href="{% static 'css/sb-admin.css' %}" rel="stylesheet">
        {% endblock admin_css %}

        <!-- Custom Fonts -->
        {% block fontawesome_css %}
            <link href="{% static 'calculadora/font-awesome/css/fontawesome.min.css' %}" rel="stylesheet" type="text/css">
            <link href="{% static 'calculadora/font-awesome/css/all.min.css' %}" rel="stylesheet" type="text/css">
        {% endblock fontawesome_css %}

        <!-- Styles -->
        {% block custom_css %}

        {% endblock custom_css %}
        
    {% endblock head %}
</head>
<body style="background-color: white !important">
    <div id="wrapper">
        <!-- Navegación -->
        {% block navegation %}
            {% include 'navegation.html' %}
        {% endblock navegation %}
        
        {% block messages %}
            
        {% endblock messages %}

        {% block content %}
        
        {% endblock content %}
    </div>
    <!-- jQuery -->
    <script src="{% static 'js/jquery.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    {% block sb_admin_custom_js %}

    {% endblock sb_admin_custom_js %}

    {% block modals %}

    {% endblock modals %}
    <!--LOGOUT MODAL-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title">¿Seguro que quieres cerrar la sesión?</h4>
                </div>
                <div class="modal-body">
                    Presione "Cerrar sesión" a continuación si está listo para finalizar su sesión actual
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                    <a class="btn btn-primary" href="{% url 'logout' %}">Cerrar Sesión</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>