<!--<div class="copyright">
  <div class="row">
    <div class="d-none d-md-block col-lg-4">
      <h5 class="text-3 mb-3">CONTACTANOS</h5>
      <ul class="list-unstyled">
        <li>
          <a href="#" class="navbar-link">
            <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
             calculatumenu@gmail.com
          </a>
        </li>
        <li>
          <a href="tel:8001234567">
            <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
            + (800) 123-4567
          </a>
        </li>
      </ul>
    </div>
    <div class="d-none d-md-block col-lg-4">
      <h5 class="text-3 mb-3">SIGUENOS</h5>
      <ul class="list-inline">
        <li>
          <a href="https://www.instagram.com/calculatumenu/" class="btn-floating btn-lg btn-ins" type="button" role="button" target="_blank">
            <i class="fa fa-facebook"></i>
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/calculatumenu/" class="btn-floating btn-lg btn-ins" type="button" role="button" target="_blank">
            <i class="fa fa-instagram"></i>
          </a>
        </li>
        <li>
          <a href="#" class="btn-floating btn-lg btn-ins" type="button" role="button" target="_blank">
            <i class="fa fa-twitter"></i>
          </a>
        </li>
        <li>
          <a href="#" class="btn-floating btn-lg btn-ins" type="button" role="button" target="_blank">
            <i class="fa fa-linkedin"></i>
          </a>
        </li>
      </ul>
    </div>
    <div class="col-12 text-center">
        <p>Copyright &copy; Calcula Tu Menú 2019 | Todos los derechos reservados</p>
        <p>
        Desarrollado por: 
        <a href="mailto:alejandromejia2013.27@gmail.com" class="navbar-link">
            Alejandro Mejía 
        </a>
        <a href="https://github.com/JandroMejia97/" target="_blank">
            <i class="fa fa-github"></i>
        </a>  
        <a href="https://www.linkedin.com/in/jandromejia97/" target="_blank">
            <i class="fa fa-linkedin"></i>
        </a>
        </p>
    </div>
  </div>
</div>
<div class="clearfix"></div> -->